.all_product {
  padding-inline: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  position: relative;
}

.items_product {
  padding: 15px;
  box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.2);

  position: relative;
}

.title {
  padding-inline: 64px;
  margin-bottom: 10px;
}

.img_product {
  max-width: 300px;
  height: 380px;
  margin: 0 auto;
}

.img_product img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product_content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}

.name_product {
  font-size: 14px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.product_desc {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: 14px;
}

.icon_new {
  padding: 5px 10px;
  font-size: 12px;
  background-color: #2f5acf;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
}

.vote_star_quantity_icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;

  margin-bottom: 10px;
}

.vote_star_quantity {
  display: flex;
  align-items: center;
  letter-spacing: -1px;
}

.vote_star {
  color: #231f20;
  font-weight: 600;
}

.star {
  width: 12px;
  margin: 0 3px;
}

.quantity {
  color: #2f5acf;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.all_product .slick-slider .next {
  display: flex !important;
  width: 70px;
  height: 70px;
  padding: 5px;
  align-items: center;
  border-radius: 100vh;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  justify-content: center;
  cursor: pointer;
}

.all_product .slick-slider .prev {
  display: flex !important;
  width: 70px;
  height: 70px;
  padding: 5px;
  align-items: center;
  border-radius: 100vh;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}
.see_more {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #000;
}
.see_more:hover {
  background-color: #000;
  color: #fff;
}
.cdt_noram {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 64px;
  margin-bottom: 20px;
}

.cdt_noram_title {
  padding: 0px;
}

.cdt_noram_choose_price:focus {
  outline: none;
}

/* @media */

@media (max-width: 1460px) {
  .all_product {
    padding-inline: 30px;
  }

  .img_product {
    max-width: 200px;
    height: 250px;
  }
}

@media (max-width: 1143px) {
  .all_product {
    padding-inline: 30px;
  }
  .img_product {
    max-width: 200px;
    height: 215px;
  }
  .product_content {
    margin-top: 5px;
  }

  .title {
    font-size: 22px;
    padding-inline: 30px;
  }

  .img_product img {
    width: 100%;
    height: 100%;
  }
  .product_desc {
    font-size: 20px;
  }
}

@media (max-width: 990px) {
  .all_product {
    padding-inline: 15px;
  }

  .title {
    font-size: 18px;
    padding-inline: 15px;
  }

  .img_product {
    max-width: 190px;
    height: 180px;
  }

  .img_product img {
    width: 100%;
    height: 100%;
  }

  .name_product {
    font-size: 15px;
  }

  .product_desc {
    font-size: 15px;
  }
  .all_product .slick-slider .prev,
  .all_product .slick-slider .next {
    width: 65px;
    height: 65px;
  }
}

@media (max-width: 435px) {
  .all_product .slick-slider .prev,
  .all_product .slick-slider .next {
    width: 50px;
    height: 50px;
  }
}
